<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WedWeb</title>
</head>
<body>

    <p>Navegacion</p>

    {{{ body }}}
    

    <p>Pie de pagina</p>
    
</body>
</html>